.App {
  background-color: #ffffff;
  display: flex;
  margin: auto;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.body {
  width: 50%;

}

.header {
  border-bottom: solid 1px #F2F2F2;
  margin-top: 1.5em;
  padding-bottom: 1.19em;
}

.title {
  color: #242424;
  letter-spacing: -0.011em;
  line-height: 52px;
  margin-bottom: 32px;
  font-size: 42px;
  font-weight: 700;
  font-style: normal;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.author {
  line-height: 24px;
  font-size: 16px;
  color: #242424;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.date {
  color: #6B6B6B;
  font-size: 14px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
  font-weight: 400;
}

.row {
  display: flex;
  flex-direction: row;
}

.round-img {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin-right: 10px;
}

.text {
  line-height: 32px;
  margin-top: 2.14em;
  font-size: 20px;
  letter-spacing: -0.003em;
  margin-bottom: -0.46em;
  font-style: normal;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}