.boxplot {
    padding-top: 50px;
    /* padding-bottom: 50px; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.boxplot-title {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}