.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.margin {
    padding: 5%;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px lightgray;
    box-shadow: 0 0 10px lightgray;
    padding: 5px;
    border-radius: 0.5%;
    background-color: lightgray;
}

.gray {
    /* background-color: lightgray; */
}

.white {
    /* background-color: white; */
}