.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.padding {
    padding: 50px;
}

.padding-small {
    padding: 10px;
}

.margin-right {
    margin-right: 20px;
}

.margin-top {
    margin-top: 20px;
}

.border {
    border: 5px red solid;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px lightgray;
    box-shadow: 0 0 10px lightgray;
    padding: 5px;
    border-radius: 0.5%;
    background-color: lightgray;
}

.gray {
    /* background-color: lightgray; */
    background-color: rgb(249, 249, 249);
}

.white {
    background-color: white;
}

.height-550 {
    height: 550px;
}

.center {
    display: flex;
    align-items: center;
}

.center-text {
    text-align: center;
}

.select {
    display: flex;
    width: 400px;
    /* align-content: center; */
    justify-content: center;
}

.dropdown {
    font-size: large;
}