.network-graph {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltip {
    /* background-color: red; */
    border: lightgray 1px solid;
    padding: 3px;
}