.column {
    display: flex;
    flex-direction: column;
}

.max-height {
    max-height: 500px;
}

.word-cloud {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    vertical-align: bottom;
    /* border: 1px solid lightgray; */
    margin: 5px;
}

.word {
    padding: 3px;
    vertical-align: bottom;
}

.font-xxs {
    font-size: xx-small;
}

.font-xs {
    font-size: x-small;
}

.font-s {
    font-size: small;
}

.font-m {
    font-size: medium;
}

.font-l {
    font-size: large;
}

.font-xl {
    font-size: x-large;
}

.font-xxl {
    font-size: xx-large;
}

.font-xxl {
    font-size: xx-large;
}